.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.heading {
  padding-top: 20px;
  font-size: 50px;
  font-family: 'Roboto';
  color: #6d396b;
}
